# --- Home Assistant safe defaults ---
secrets.yaml
*.key
*.pem
.cloud/
.storage/
home-assistant_v2.db*
*.log
.backups/
deps/
__pycache__/
.typing
custom_components/*/__pycache__/
www/.cache/
# Runtime / locks
.ha_run.lock
*.log
*.log.*

# Databases
zigbee.db
zigbee.db-shm
zigbee.db-wal
home-assistant_v2.db*
*.sqlite*

# TTS cache
tts/
home-assistant.log*
.ssh/
