- id: '1761453682542'
  alias: Announce – Front Door Open/Closed
  description: Speak when the front door contact changes
  triggers:
  - trigger: state
    entity_id: binary_sensor.lumi_lumi_sensor_magnet_aq2_opening
    from: 'off'
    to: 'on'
  - trigger: state
    entity_id: binary_sensor.lumi_lumi_sensor_magnet_aq2_opening
    from: 'on'
    to: 'off'
  conditions:
  - condition: template
    value_template: '{{ trigger.from_state is not none }}'
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.to_state.state == ''on'' }}'
      sequence:
      - action: tts.speak
        target:
          entity_id: tts.google_translate_en_com
        data:
          media_player_entity_id: media_player.family_room
          message: Front door opened.
    - conditions:
      - condition: template
        value_template: '{{ trigger.to_state.state == ''off'' }}'
      sequence:
      - action: tts.speak
        target:
          entity_id: tts.google_translate_en_com
        data:
          media_player_entity_id: media_player.family_room
          message: Front door closed.
  mode: single
- id: '1761941974727'
  alias: Stairs UP → DOWN announce (Family Room)
  description: ''
  triggers:
  - entity_id: binary_sensor.stairs_motion_upper_occupancy
    to: 'on'
    trigger: state
  conditions:
  - condition: template
    value_template: "{{ (now() - (state_attr(this.entity_id, 'last_triggered') or\n
      \           now() - timedelta(seconds=60))).total_seconds() > 15 }}"
  actions:
  - wait_for_trigger:
    - entity_id: binary_sensor.stairs_motion_lower_occupancy
      to: 'on'
      trigger: state
    timeout: 00:00:05
    continue_on_timeout: false
  - target:
      entity_id: media_player.family_room
    action: media_player.turn_on
  - choose:
    - conditions:
      - condition: sun
        after: sunset
        before: sunrise
      sequence:
      - target:
          entity_id: media_player.family_room
        data:
          volume_level: 0.5
        action: media_player.volume_set
    default:
    - target:
        entity_id: media_player.family_room
      data:
        volume_level: 0.55
      action: media_player.volume_set
  - target:
      entity_id: tts.google_translate_en_com
    data:
      media_player_entity_id: media_player.family_room
      message: Someone is coming downstairs.
    action: tts.speak
  mode: single
- id: '1761942010470'
  alias: Stairs  DOWN → UP - speak to (Family Room) audio
  description: ''
  triggers:
  - entity_id: binary_sensor.stairs_motion_lower_occupancy
    to: 'on'
    trigger: state
  conditions:
  - condition: template
    value_template: "{{ (now() - (state_attr(this.entity_id, 'last_triggered') or\n
      \           now() - timedelta(seconds=60))).total_seconds() > 15 }}"
  actions:
  - wait_for_trigger:
    - entity_id: binary_sensor.stairs_motion_upper_occupancy
      to: 'on'
      trigger: state
    timeout: 00:00:05
    continue_on_timeout: false
  - target:
      entity_id: media_player.family_room
    action: media_player.turn_on
  - choose:
    - conditions:
      - condition: sun
        after: sunset
        before: sunrise
      sequence:
      - target:
          entity_id: media_player.family_room
        data:
          volume_level: 0.35
        action: media_player.volume_set
    default:
    - target:
        entity_id: media_player.family_room
      data:
        volume_level: 0.55
      action: media_player.volume_set
  - target:
      entity_id: tts.google_translate_en_com
    data:
      media_player_entity_id: media_player.family_room
      message: Someone is going upstairs.
    action: tts.speak
  mode: single
- id: '1762157138765'
  alias: Door → Man Cave Lights (open=ON, closed=OFF)
  description: Use Aqara door sensor to control man cave ceiling lights
  triggers:
  - entity_id: binary_sensor.lumi_lumi_sensor_magnet_aq2_opening
    to: 'on'
    trigger: state
  - entity_id: binary_sensor.lumi_lumi_sensor_magnet_aq2_opening
    to: 'off'
    trigger: state
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.to_state.state == ''on'' }}'
      sequence:
      - target:
          entity_id: light.man_cave_ceiling_lights
        data:
          transition: 1
          brightness_pct: 80
        action: light.turn_on
    - conditions:
      - condition: template
        value_template: '{{ trigger.to_state.state == ''off'' }}'
      sequence:
      - target:
          entity_id: light.man_cave_ceiling_lights
        data:
          transition: 1
        action: light.turn_off
  mode: single
- id: atrium_pir_mancave_lights
  alias: Atrium PIR - Man Cave Ceiling Lights
  description: ''
  triggers:
  - entity_id: binary_sensor.atrium_pir_occupancy
    to: 'on'
    trigger: state
  actions:
  - target:
      entity_id: light.man_cave_ceiling_lights
    action: light.turn_on
  - wait_for_trigger:
    - entity_id: binary_sensor.atrium_pir_occupancy
      to: 'off'
      for: 00:03:00
      trigger: state
  - target:
      entity_id: light.man_cave_ceiling_lights
    action: light.turn_off
  mode: restart
- id: '1762596176562'
  alias: Atrium PIR → Man Cave Lights (until PIR clears)
  description: ''
  triggers:
  - trigger: state
    entity_id: binary_sensor.atrium_pir_occupancy
    to: 'on'
  actions:
  - data:
      reason: Motion in the atrium
    action: script.atrium_lights_on_reasoned
  - wait_for_trigger:
    - trigger: state
      entity_id: binary_sensor.atrium_pir_occupancy
      to: 'off'
    timeout: 02:00:00
    continue_on_timeout: false
  - data:
      reason: No motion for about one minute
    action: script.atrium_lights_off_reasoned
  mode: restart
- id: '1762636322107'
  alias: Atrium PIR → Man Cave Lights (until PIR clears)
  description: Turn on with motion; log reason; turn off after PIR is off for 1 minute.
  triggers:
  - entity_id: binary_sensor.atrium_pir_occupancy
    to: 'on'
    trigger: state
  actions:
  - target:
      entity_id: light.man_cave_ceiling_lights
    action: light.turn_on
  - target:
      entity_id: input_text.atrium_last_light_reason
    data:
      value: Motion in the atrium
    action: input_text.set_value
  - wait_for_trigger:
    - entity_id: binary_sensor.atrium_pir_occupancy
      to: 'off'
      for: 00:01:00
      trigger: state
  - target:
      entity_id: light.man_cave_ceiling_lights
    action: light.turn_off
  - target:
      entity_id: input_text.atrium_last_light_reason
    data:
      value: No motion for about one minute
    action: input_text.set_value
  mode: restart
- id: '1762637039248'
  alias: Atrium PIR → Man Cave Lights & Announce
  description: Turn on with motion; welcome once if lights were off; turn off after
    PIR is off for 1 minute.
  triggers:
  - entity_id: binary_sensor.atrium_pir_occupancy
    to: 'on'
    trigger: state
  actions:
  - variables:
      speak_welcome: '{{ is_state(''light.man_cave_ceiling_lights'', ''off'') }}'
  - target:
      entity_id: light.man_cave_ceiling_lights
    action: light.turn_on
  - data:
      entity_id: input_text.atrium_last_light_reason
      value: Motion in the atrium
    action: input_text.set_value
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ speak_welcome }}'
      sequence:
      - target:
          entity_id: media_player.family_room
        action: media_player.turn_on
      - delay: 00:00:01
      - target:
          entity_id: media_player.family_room
        data:
          volume_level: 0.35
        action: media_player.volume_set
      - target:
          entity_id: tts.google_translate_en_com
        data:
          media_player_entity_id: media_player.family_room
          message: Welcome to the atrium.
        action: tts.speak
  - wait_for_trigger:
    - entity_id: binary_sensor.atrium_pir_occupancy
      to: 'off'
      for: 00:01:00
      trigger: state
  - target:
      entity_id: light.man_cave_ceiling_lights
    action: light.turn_off
  - data:
      entity_id: input_text.atrium_last_light_reason
      value: No motion for about one minute
    action: input_text.set_value
  mode: restart
- id: '1762642658098'
  alias: Atrium PIR → Man Cave Lights (welcome + chime, until PIR clears)
  description: Turn on with motion; speak once if lights were off; turn off after
    PIR is off for 1 minute; play a subtle chime on off.
  triggers:
  - entity_id: binary_sensor.atrium_pir_occupancy
    to: 'on'
    trigger: state
  actions:
  - variables:
      speak_welcome: '{{ is_state(''light.man_cave_ceiling_lights'', ''off'') }}'
  - target:
      entity_id: light.man_cave_ceiling_lights
    action: light.turn_on
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ speak_welcome }}'
      sequence:
      - target:
          entity_id: media_player.family_room
        action: media_player.turn_on
      - delay: 00:00:01
      - target:
          entity_id: media_player.family_room
        data:
          volume_level: 0.35
        action: media_player.volume_set
      - target:
          entity_id: tts.google_translate_en_com
        data:
          media_player_entity_id: media_player.family_room
          message: Welcome to the atrium.
        action: tts.speak
  - wait_for_trigger:
    - entity_id: binary_sensor.atrium_pir_occupancy
      to: 'off'
      for: 00:01:00
      trigger: state
  - target:
      entity_id: light.man_cave_ceiling_lights
    action: light.turn_off
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ true }}'
      sequence:
      - target:
          entity_id: media_player.family_room
        action: media_player.turn_on
      - target:
          entity_id: media_player.family_room
        data:
          volume_level: 0.3
        action: media_player.volume_set
      - target:
          entity_id: media_player.family_room
        data:
          media:
            media_content_id: /local/chimes/off.mp3
            media_content_type: music
            metadata: {}
        action: media_player.play_media
  mode: restart
- id: '1762660197691'
  alias: Atrium PIR → Man Cave Lights (welcome + soundscapes chime, until PIR clears)
  description: 'Turn on with motion; speak once if lights were off; turn off after
    PIR is off for 1 minute; play a subtle chime on off.

    '
  triggers:
  - entity_id: binary_sensor.atrium_pir_occupancy
    to: 'on'
    trigger: state
  actions:
  - variables:
      speak_welcome: '{{ is_state(''light.man_cave_ceiling_lights'', ''off'') }}'
  - action: light.turn_on
    target:
      entity_id: light.man_cave_ceiling_lights
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ speak_welcome }}'
      sequence:
      - action: media_player.turn_on
        target:
          entity_id: media_player.family_room
      - delay: 00:00:01
      - action: media_player.volume_set
        target:
          entity_id: media_player.family_room
        data:
          volume_level: 0.35
      - action: tts.speak
        target:
          entity_id: tts.google_translate_en_com
        data:
          media_player_entity_id: media_player.family_room
          message: Welcome to the atrium.
  - wait_for_trigger:
    - entity_id: binary_sensor.atrium_pir_occupancy
      to: 'off'
      for: 00:01:00
      trigger: state
  - action: light.turn_off
    target:
      entity_id: light.man_cave_ceiling_lights
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ true }}'
      sequence:
      - action: media_player.turn_on
        target:
          entity_id: media_player.family_room
      - action: media_player.volume_set
        target:
          entity_id: media_player.family_room
        data:
          volume_level: 0.3
      - delay: 00:00:01
      - action: media_player.play_media
        target:
          entity_id: media_player.family_room
        data:
          media:
            media_content_id: media-source://media_source/local/soundscapes/1.wav
            media_content_type: audio/wav
            metadata: {}
  mode: restart
- id: '1763252120922'
  alias: Atrium PIR → Power Strip ON/OFF (1 min delay)
  description: Turn ON power strip when motion detected, OFF 1 min after clear.
  triggers:
  - entity_id: binary_sensor.atrium_pir_occupancy
    to: 'on'
    trigger: state
  - entity_id: binary_sensor.atrium_pir_occupancy
    to: 'off'
    trigger: state
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: binary_sensor.atrium_pir_occupancy
        state: 'on'
      sequence:
      - target:
          entity_id:
          - switch.atrium_power_switch_1
          - switch.atrium_power_switch_2
          - switch.atrium_power_switch_3
          - switch.atrium_power_switch_4
          - switch.atrium_power_switch_5
        action: switch.turn_on
    - conditions:
      - condition: state
        entity_id: binary_sensor.atrium_pir_occupancy
        state: 'off'
      sequence:
      - delay: 00:01:00
      - condition: state
        entity_id: binary_sensor.atrium_pir_occupancy
        state: 'off'
      - target:
          entity_id:
          - switch.atrium_power_switch_1
          - switch.atrium_power_switch_2
          - switch.atrium_power_switch_3
          - switch.atrium_power_switch_4
          - switch.atrium_power_switch_5
        action: switch.turn_off
  mode: restart
- id: '1763260249243'
  alias: Atrium PIR → Power Strip ON/OFF (1 min delay, no sun condition)
  description: Turn ON power strip when motion detected, OFF 1 min after clear.
  triggers:
  - entity_id: binary_sensor.atrium_pir_occupancy
    to: 'on'
    trigger: state
  - entity_id: binary_sensor.atrium_pir_occupancy
    to: 'off'
    trigger: state
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: binary_sensor.atrium_pir_occupancy
        state: 'on'
      - condition: state
        entity_id: sun.sun
        state: below_horizon
      sequence:
      - target:
          entity_id:
          - switch.atrium_power_switch_1
          - switch.atrium_power_switch_2
          - switch.atrium_power_switch_3
          - switch.atrium_power_switch_4
          - switch.atrium_power_switch_5
        action: switch.turn_on
    - conditions:
      - condition: state
        entity_id: binary_sensor.atrium_pir_occupancy
        state: 'off'
      sequence:
      - delay: 00:01:00
      - condition: state
        entity_id: binary_sensor.atrium_pir_occupancy
        state: 'off'
      - target:
          entity_id:
          - switch.atrium_power_switch_1
          - switch.atrium_power_switch_2
          - switch.atrium_power_switch_3
          - switch.atrium_power_switch_4
          - switch.atrium_power_switch_5
        action: switch.turn_off
  mode: restart
- id: '1763260793427'
  alias: Atrium PIR → Man Cave Lights (welcome + soundscapes chime, until PIR clears,
    no sun condition)
  description: 'Turn on with motion; speak once if lights were off; turn off after
    PIR is off for 1 minute; play a subtle chime on off.

    '
  triggers:
  - entity_id: binary_sensor.atrium_pir_occupancy
    to: 'on'
    trigger: state
  conditions:
  - condition: state
    entity_id: sun.sun
    state: below_horizon
  actions:
  - variables:
      speak_welcome: '{{ is_state(''light.man_cave_ceiling_lights'', ''off'') }}'
  - action: light.turn_on
    target:
      entity_id: light.man_cave_ceiling_lights
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ speak_welcome }}'
      sequence:
      - action: media_player.turn_on
        target:
          entity_id: media_player.family_room
      - delay: 00:00:01
      - action: media_player.volume_set
        target:
          entity_id: media_player.family_room
        data:
          volume_level: 0.35
      - action: tts.speak
        target:
          entity_id: tts.google_translate_en_com
        data:
          media_player_entity_id: media_player.family_room
          message: Welcome to the atrium.
  - wait_for_trigger:
    - entity_id: binary_sensor.atrium_pir_occupancy
      to: 'off'
      for: 00:01:00
      trigger: state
  - action: light.turn_off
    target:
      entity_id: light.man_cave_ceiling_lights
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ true }}'
      sequence:
      - action: media_player.turn_on
        target:
          entity_id: media_player.family_room
      - action: media_player.volume_set
        target:
          entity_id: media_player.family_room
        data:
          volume_level: 0.3
      - delay: 00:00:01
      - action: media_player.play_media
        target:
          entity_id: media_player.family_room
        data:
          media:
            media_content_id: media-source://media_source/local/soundscapes/1.wav
            media_content_type: audio/wav
            metadata: {}
  mode: restart
